<div class="container-fluid bg">

    <div class=" d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1>Entrar</h1>

                    <div class="form-grup form-floating">
                        <input [(ngModel)]="userLogin.usuario" class="form-control bd" type="text" name="usuario" id="usuario  floatingInput" placeholder="Seu Email">
                        <label for="usuario floatingInput" >Email</label>
                        
                    </div>

                    <div class="form-grup form-floating mt-3">
                        <input [(ngModel)]="userLogin.senha" class="form-control bd" type="password" name="senha" id="senha floatingPassword" placeholder="Sua senha">
                        <label for="usuario floatingPassword">Senha</label>
                        
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-cor bd" (click)="entrar()" >Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">
                    <p class="text-center">
                        Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-6" id="img-bg"></div>
        
    </div>
</div>
